@using Microsoft.AspNetCore.Identity;
@using WebProjectMVC.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown mb-2">
        <span class="d-flex text-white align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gear fa-2x"></i>
        </span>

        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">
            <li>
                <b class="nav-link text-warning">Reference</b>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Reactions" asp-action="Index">Reactions</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Index">Photos</a>
            </li>
        </ul>
    </div>
}

<div class="dropdown mb-2">
    <span class="d-flex text-white align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-circle-user fa-2x"></i>
    </span>

    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <b class="nav-link text-info">
                    Hello @{var userInfo = await UserManager.FindByNameAsync(User.Identity?.Name);
                        @userInfo.FirstName}!
                </b>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</div>