<div class="dropdown mb-2">
    <span class="d-flex text-white align-items-center justify-content-center p-3 link-dark text-decoration-none"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        <i class="fa-solid fa-bell fa-2x position-relative text-warning">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  style="font-size:9px;" id="NotificationCount">
            </span>
        </i>
    </span>

    <ul class="dropdown-menu text-small shadow bg-dark" aria-labelledby="dropdownUser" style="">
        <li>
            <ul class="list-group list-group-flush" id="NotificationList">
            </ul>
        </li>
    </ul>
</div>

@section Scripts {
}